* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    background-color: #e9eeef;

}

.container {
    margin: 0 auto;
    width: 1296px;
}

.header {
    background-color: #10BBD5;
    position: sticky;
    top:0;
    z-index: 1;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_content {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header_price {
    display: flex;
    align-items: center;
}

.header_price_value {
    line-height: 24px;
    color: #F8FDFE;
}

.button_cart {
    padding: 10px;
    background-color: #10BBD5;
    cursor: pointer;
    border: none;
    
}

.button_cart_img {
    background-image: url(/images/cart_icon_0.png);
    background-repeat: no-repeat;
    background-position: center; 
    padding: 20px;
    position: relative;


}

.button_number {
    position: absolute;
    top: 42%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-family: Cabin;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.header_menu {
    background-color: #fff;
}

.header_menu_list {
    list-style: none;
    color: #000000;
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.header_menu_list_item {
    padding: 5px;
    line-height: 24px;


}

.header_menu_list_item:nth-child(2) {
   margin-left: auto;
}

/* Galary grid  */

.gallary_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 32px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;

}
.gallary_menu {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1 fr);
    column-gap: 24px;
    row-gap: 32px;
    position: relative;
}

.gallary_menu_item {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #A8A8A8;
}

.gallaty_menu_item_box {
    position: relative;
}



.gallary_menu_item_img img {
    width: 100%;
    padding: 0 32px;
}
.gallary_menu_item_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 2px;
    border-bottom: 1px solid #A8A8A8;
}

.gallary_menu_item_title a{
    text-decoration: none;
    color: #1F1F1F;
}

.gallary_menu_item_description {
    line-height: 24px;
    color: #8E8E8E;
}

.gallary_menu_item_price {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #E90000;
    margin-top: 8px;

}

.gallary_menu_item_price_without_discont {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #8E8E8E;
    margin-top: 8px;

}


.gallary_menu_item_price_block {
    display: flex;
    gap: 24px;
}
.gallary_button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4C394E;
    color: #F8FDFE;
    cursor: pointer;
    margin-top: 16px;
    line-height: 24px;

}

.gallary_button_green {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4D762D;
    color: #F8FDFE;
    cursor: pointer;
    margin-top: 16px;
    line-height: 24px;   
}

.gallary_menu_item_marks{
    display: flex;
    gap: 3px;
    position: absolute;
    top: 0;

}


.gallary_menu_item_mark {
    background-color:#4200FF;
    border-radius: 4px;
    padding: 4px 8px;

}


.gallary_menu_item_mark_new{
    background-color:#AF39E7;
    border-radius: 4px;
    padding: 4px 8px;
}

.gallary_menu_item_discont {
    background-color:#EA33C0;
    border-radius: 4px;
    padding: 4px 8px;   
}

.gallary_menu_item_text {
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F8FDFE;
}

.button_chat {
    border: none;
    position: absolute;
    right: -40px;
    top: 472px;
    background-image: url(/images/Chat.png);
    padding: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    
}

.button_chat_img {
    /* background-image: url(/images/Chat.png);
    background-repeat: no-repeat;
    background-position: center;  */
    

}


.footer {
    background-color: #4C394E;
    margin-top: 120px;

}

.footer_content {
    display: flex;
    justify-content: space-between;

}

.copyright, .footer_text {
    line-height: 24px;
    color: #F8FDFE;
    padding-top: 32px;
    padding-bottom: 32px;

}